/* ====== 1.12. Blogs section ====== */

.blog {
  margin: 100px 0;
  padding: 100px 0;
  background: linear-gradient(
    67.94deg,
    #030b20 -2.93%,
    #0d0d2a 44.88%,
    #230d2b 99.07%,
    #d12bec 148.49%
  );
}

.blog h5 {
  color: #d12bec;
  margin-bottom: 16px;
}

.blog h2 {
  color: #ffffff;
}

.card {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px 20px 25px 20px;
  width: 100%;
}

.blog .card img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  transition: all 0.3s ease;
}

.card:hover.card img {
  transform: scale(1.05) rotate(2deg);
  opacity: 0.8;
}

.card i {
  font-size: 22px;
  color: #000000;
}

.card a {
  color: #000000;
}

.card h4 {
  color: #000000;
}

.card p {
  color: #000000;
  margin: 20px 0 10px 0;
}

.card a:nth-child(5) {
  color: #d12bec;
}

.card a:nth-child(5):hover {
  color: #00a5cf;
}

/* ====== End of 1.12. Blogs section ====== */
