/* ====== 1.11. Testimonials section ====== */

.serv-testimonial {
  margin-top: 100px;
  margin-bottom: 100px;
}

.testimonial h5 {
  color: #d12bec;
}

.testimonial h2 {
  color: #000000;
  margin: 10px 0;
}

.testimonial p {
  color: #000000;
  padding: 0 302px;
}

.testimonial_card {
  border: 1.5px solid #acacac;
  background-color: #ffffff;
  border-radius: 60px;
  padding: 50px 40px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
  width: 100%;
}

.testimonial_card:hover {
  box-shadow: 0px 6px 30px rgba(172, 172, 172, 0.3);
}

.testimonial_card::before {
  border-radius: 60px 60px 0 0;
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  transition: all 0.3s ease-in;
  background: #d12bec;
  z-index: -1;
  top: 0;
  left: 0;
}

.testimonial_card:hover::before {
  width: 100%;
  background: #d12bec;
}

.testimonial_card::after {
  border-radius: 0 0 60px 60px;
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  transition: all 0.3s ease-in;
  background: #d12bec;
  z-index: -1;
  bottom: 0;
  right: 0;
}

.testimonial_card:hover::after {
  width: 100%;
  background: #d12bec;
}

.testimonial_card:hover.testimonial_card h4 {
  color: #ffffff;
}

.testimonial_card:hover.testimonial_card p {
  color: #ffffff;
}

.testimonial_card hr {
  width: 165px;
  height: 2px;
  color: #ff9901;
  opacity: 1;
  margin: 20px 0 10px 0;
}

.testimonial_card img {
  width: 110px;
  border-radius: 20px;
}

.testimonial_card img:hover {
  position: relative;
  animation: icon 0.5s 2;
}

.testimonial_card p {
  color: #000000;
  transition: all 0.3s ease;
}

.testimonial_card h4 {
  transition: all 0.3s ease;
  color: #000000;
}

/* ====== End of 1.11. Testimonials section ====== */
